.bt {
  border: 3px solid red;
}

.bg {
  background-color: aquamarine;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.head {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bench-accounting-C3V88BOoRoM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -1000px rgba(0, 0, 0, 0.5);
}
.head .head-top {
  width: 100%;
  height: 15vh;
}
.head .head-top .row {
  height: 100%;
}
.head .head-top .row > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .head-top .row > figure {
  width: 20%;
  height: 100%;
}
.head .head-top .row > figure > p {
  font-size: 35px;
  color: white;
}
.head .head-top .row > nav {
  width: 65%;
  height: 100%;
}
.head .head-top .row > nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .head-top .row > nav > ul > li a {
  color: white;
  font-size: 17px;
  padding: 0 15px;
  transition: 1s;
}
.head .head-top .row > nav > ul > li a:hover {
  color: #f73936;
  font-size: 18px;
}
.head .head-top .row > div {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .head-top .row > div > a {
  background-color: #f73936;
  width: 70%;
  padding: 15px 25px;
  color: white;
  font-size: 15px;
  border-radius: 10px;
}
.head .head-down {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .head-down .row {
  width: 50%;
  height: 50vh;
  text-align: center;
}
.head .head-down .row > hgroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.head .head-down .row > hgroup > h1 {
  font-size: 60px;
  color: white;
  text-align: center;
}
.head .head-down .row > hgroup > p {
  text-align: center;
  width: 60%;
  color: white;
  font-size: 18px;
  line-height: 30px;
}
.head .head-down .row > .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.head .head-down .row > .row > a {
  height: 50px;
  padding: 15px 30px;
  margin: 0 5px;
  border-radius: 30px;
}
.head .head-down .row > .row > a:nth-of-type(1) {
  background-color: #f73936;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
}
.head .head-down .row > .row > a:nth-of-type(2) {
  background-color: transparent;
  color: white;
  font-size: 15px;
  text-transform: capitalize;
  transition: 0.5s;
  border: 2px solid white;
}
.head .head-down .row > .row > a:nth-of-type(2):hover {
  background-color: white;
  color: black;
}

#feature {
  width: 100%;
}
#feature .row {
  width: 100%;
  display: flex;
}
#feature .row > .feature-text {
  width: 100%;
  height: 35vh;
  text-align: center;
  margin: auto;
}
#feature .row > .feature-text > p:nth-of-type(1) {
  font-size: 30px;
  color: black;
  width: 100%;
  padding: 80px 0 25px 0;
}
#feature .row > .feature-text > p:nth-of-type(2) {
  font-size: 16px;
  color: black;
  width: 40%;
  margin: auto;
  line-height: 25px;
}
#feature .row > .feature-pics {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#feature .row > .feature-pics > figure {
  width: 33.3%;
  height: 50%;
}
#feature .row > .feature-pics > figure > img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#feature .row > .feature-pics > figure > img:hover {
  transform: scale(1.05);
}

#process {
  width: 100%;
  height: 90vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
#process > .process-card {
  width: 80%;
  height: 70%;
}
#process > .process-card > p {
  text-align: center;
  font-size: 30px;
  color: black;
  text-transform: capitalize;
  padding-bottom: 50px;
}
#process > .process-card > .process-items {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}
#process > .process-card > .process-items > .process-item {
  width: 33.3%;
  height: 50%;
  padding-left: 30px;
}
#process > .process-card > .process-items > .process-item > p:nth-of-type(1) {
  font-size: 20px;
  padding-bottom: 10px;
  position: relative;
}
#process > .process-card > .process-items > .process-item > p:nth-of-type(2) {
  font-size: 15px;
  line-height: 25px;
  width: 80%;
}

#our-team {
  width: 100%;
  height: 100vh;
}
#our-team .row > .text {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  padding-bottom: 50px;
}
#our-team .row > .text > p:nth-of-type(1) {
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
}
#our-team .row > .text > p:nth-of-type(2) {
  width: 40%;
  font-size: 16px;
  margin: auto;
  text-transform: capitalize;
  line-height: 25px;
}
#our-team .row > .team-pics {
  width: 100%;
  display: flex;
  justify-content: center;
}
#our-team .row > .team-pics .row {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#our-team .row > .team-pics .row > .team-card {
  width: 22%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  transition: 1s;
}
#our-team .row > .team-pics .row > .team-card:hover .content {
  opacity: 1;
  transform: translateY(0px);
}
#our-team .row > .team-pics .row > .team-card:hover > img {
  filter: blur(2px);
}
#our-team .row > .team-pics .row > .team-card > img {
  width: 100%;
  height: 300px;
  border-radius: 25px;
}
#our-team .row > .team-pics .row > .team-card > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  opacity: 0;
}
#our-team .row > .team-pics .row > .team-card > .content:hover > * {
  transform: translateY(0px);
}
#our-team .row > .team-pics .row > .team-card > .content > * {
  transform: translateY(50px);
  transition: transform 1s;
}
#our-team .row > .team-pics .row > .team-card > .content > p:nth-of-type(1) {
  font-size: 20px;
  padding: 10px 0;
  color: #eeeeee;
}
#our-team .row > .team-pics .row > .team-card > .content > p:nth-of-type(2) {
  font-size: 18px;
  color: red;
}

#quality {
  width: 100%;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}
#quality .row {
  width: 75%;
  height: 100vh;
}
#quality .row > figure {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#quality .row > figure > img {
  width: 100%;
  height: 70%;
}
#quality .row > .text {
  width: 60%;
  height: 100%;
  padding: 150px 0 0 130px;
}
#quality .row > .text > p:nth-of-type(1) {
  font-size: 32px;
  padding-bottom: 20px;
  line-height: 40px;
}
#quality .row > .text > p:nth-of-type(2) {
  font-size: 15px;
  padding-bottom: 30px;
}
#quality .row > .text > p:nth-of-type(3),
#quality .row > .text p:nth-of-type(4),
#quality .row > .text p:nth-of-type(5),
#quality .row > .text p:nth-of-type(6) {
  font-size: 18px;
  padding-bottom: 23px;
}

#blog {
  width: 100%;
  display: flex;
  justify-content: center;
}
#blog > .row {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
#blog > .row > hgroup {
  width: 100%;
  padding-bottom: 30px;
}
#blog > .row > hgroup > p:nth-of-type(1) {
  font-size: 30px;
  width: 100%;
  text-align: center;
}
#blog > .row > hgroup > p:nth-of-type(2) {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 20px;
  line-height: 25px;
}
#blog > .row > .blog-cards {
  width: 100%;
  height: 600px;
}
#blog > .row > .blog-cards > .row {
  flex-wrap: wrap;
  justify-content: space-between;
}
#blog > .row > .blog-cards > .row > .card {
  width: 31%;
  display: flex;
  flex-wrap: wrap;
}
#blog > .row > .blog-cards > .row > .card > figure {
  width: 100%;
  height: 250px;
  transition: 1s;
}
#blog > .row > .blog-cards > .row > .card > figure:hover {
  transform: scale(1.1);
  padding-bottom: 5px;
}
#blog > .row > .blog-cards > .row > .card > figure > img {
  width: 100%;
  height: 100%;
}
#blog > .row > .blog-cards > .row > .card > hgroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#blog > .row > .blog-cards > .row > .card > hgroup > p:nth-of-type(1) {
  width: 100%;
  font-size: 16px;
  padding-top: 10px;
}
#blog > .row > .blog-cards > .row > .card > hgroup > p:nth-of-type(2) {
  width: 100%;
  font-size: 22px;
  padding: 20px 0;
}
#blog > .row > .blog-cards > .row > .card > hgroup > p:nth-of-type(2):hover {
  color: red;
}
#blog > .row > .blog-cards > .row > .card > hgroup > p:nth-of-type(3) {
  width: 100%;
  font-size: 14px;
  word-spacing: 5px;
  line-height: 25px;
  padding-bottom: 15px;
}
#blog > .row > .blog-cards > .row > .card > a {
  color: red;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid red;
}

footer {
  width: 100%;
  height: 65vh;
  background-color: #222;
}
footer > .row {
  padding: 50px;
  height: 100%;
}
footer > .row > * {
  width: 30%;
  height: 100%;
  margin: auto;
}
footer > .row > .developer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer > .row > .developer > figure {
  width: 100%;
  height: 200px;
}
footer > .row > .developer > figure > img {
  width: 200px;
  height: 200px;
  border-radius: 120px;
}
footer > .row > .developer > p:nth-of-type(1) {
  width: 100%;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
footer > .row > .developer > p:nth-of-type(2) {
  width: 100%;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
}
footer > .row > .introduction {
  padding: 80px 0;
}
footer > .row > .introduction > p:nth-of-type(1) {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
}
footer > .row > .introduction > p:nth-of-type(2) {
  font-size: 17px;
  color: white;
  line-height: 25px;
}
footer > .row > .navigate {
  padding: 80px 80px;
}
footer > .row > .navigate > .row > p {
  width: 100%;
  font-size: 25px;
  color: white;
  text-transform: capitalize;
}
footer > .row > .navigate > .row > ul {
  padding-top: 20px;
}
footer > .row > .navigate > .row > ul > li {
  padding: 5px;
}
footer > .row > .navigate > .row > ul > li a {
  color: white;
  font-size: 16px;
  padding: 15px;
  text-transform: capitalize;
}/*# sourceMappingURL=master.css.map */